

/** VARIABLES*/
:root {
    /** COLORS: Main **/
    --color-primary: #c0d8e0;
    --color-secondary: #56a3a6;
    --color-dark: #484538; 

    /** COLORS: Ratings **/
    --color-success: #d4eac8;
    --color-danger: #F26A6A;
    }

/* GLOBAL */

    body {
        font-size: 30pt;
    }

    .main_container {
        height: 100vh;
        width: 100vh;
        display: flex;
        flex-direction: column;
    }

/* MEDIA QUERIES */
@media only screen and (min-width: 380px) {
	body {
		font-size: 30pt;
	}
}
@media only screen and (min-width: 500px) {
	body {
		font-size: 30pt;
	}
}

/* SEARCH BAR */
    .header {
        background-color: var(--color-primary);
        display: fixed;
        z-index: 4;
    }

    .map_search {
        height: 100%;
    }

/* MAP */
    .map_container{
        background-color: var(--color-secondary);
        width: 100vh;
        height: 100%;
        z-index: -1;
    }

/* SLIDER */
    .slider{
        background-color: var(--color-primary);
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
        bottom: -40vh;
        width: 100vh;
        height: 50vh;
        /* color: var(--color-dark); */
        
        z-index: 4;
        background: #FFFFFF;
        box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.25);
        border-radius: 13px;
    }

    .expand{
        bottom: -10vh;
        height: 70vh;
    }

    .slider_icon {
        width: 100vh;
        background-color: aquamarine;
        /* font-size: 50pt; */
    }

    i.material-icons {
        font-size: 100pt;
        color: var(--color-dark);
    }
    


